In [8]:
import sklearn
import numpy 
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import autograd

Ler o dataset de treino e teste

In [9]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df = df.dropna()
df = df.drop(columns=['id'])

df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

separar o dataframe em tabelas com dados de entrada(sexo,idade,etc) e dados de saída(possui AVC ou não)

In [10]:
df_saida = df['stroke']
df_entrada = df.drop(columns=['stroke','avg_glucose_level','bmi'])

Converter as tabelas em dados numéricos para que possam ser utilizados nos modelos de machine learning

In [12]:
df_entrada_numerico = pd.get_dummies(df_entrada)
df_saida_numerico = pd.get_dummies(df_saida)

treinar o modelo através do sklearn

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_entrada_numerico,df_saida_numerico , train_size=0.5)
parametros_ = (X_train, X_test, y_train, y_test)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2454, 19)
(2455, 19)
(2454, 2)
(2455, 2)

In [26]:
import autograd.numpy as np_   # Thinly-wrapped version of Numpy
from autograd import grad

def loss( parametros ):
    w, b, pontos, val = parametros
    est = w.T @ pontos + b
    mse = np_.mean( (est - val)**2)
    return mse